<div class="todo-item">
  <input
    (change)="onCheckChange(todo)"
    [(ngModel)]="todo.done"
    [disabled]="isLoading"
    type="checkbox"
    name="done_{{ todo.id }}"
    id="doneInput_{{ todo.id }}"
  />
  <h4 [ngClass]="{ done: todo.done }" class="todo-title">
    <label for="doneInput_{{ todo.id }}">
      {{ todo.title }}
    </label>
  </h4>
  <small class="todo-date">{{ todo.date | date : "dd/MM/yyyy H:mm:ss" }}</small>
  <button class="btn-excluir" type="button">
    <img class="img-trash" width="20" src="../../../assets/trash.png" alt="" />
  </button>
</div>
