.edit-date-input {
  width: 100%;
  padding: 0.5em;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background-color: transparent;
  user-select: none;
  cursor: pointer;
}

.edit-date-input:focus {
  border-bottom: 1px solid blueviolet;
}
