.tabs {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.tabs li {
  display: inline;
  padding-right: 50px;
}

.tabs li a {
  color: aliceblue;
  transition: color 0.5s;
  text-decoration: none;
}

.tabs li a:hover {
  color: antiquewhite;
  transition: color 0.5s;
}

.tabs .selected {
  color: blueviolet !important;
  font-weight: bold;
}
